.test{
    text-align: center;
    border: lightcoral 1px solid;
    box-shadow: 5px;
    padding: 10px;
    color: rebeccapurple;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.handleTestCorlor{
    color:red !important;
}
